body{
    width:100%;
    margin:0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex-container {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
}

.top {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

#cool1 a{
    text-decoration: none;
    color:brown;
}

#cool1{
    font-size: 4em;
    font-weight: bold;
    color:red;
}

#logo{
    color:#f8dbdb;
}

.nav{
    display: flex;
    flex-direction: row;
    gap:20px;
    font-size:1.5em;
    color:red;
    font-weight: lighter;
    text-decoration: none;
}   

.nav a{
    color: red;
    text-decoration: none;
}

.red{
    display: flex;
    background-color: red;
    color:white;
    font-weight: bold;
    padding: 10px;
}

#soz{
    display: flex;
    margin-left:365px;
    font-size: 4.5em;;
}

.nav p:hover{
    color:#f8dbdb;
}

.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.article1 a{
    text-decoration: none;
    color: red;
}

.section1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.article1 a:hover{
    color: #f8dbdb;
}

button{
    display:flex;
    width:145px;
    border-radius: 4px;
    border: 1px solif gray;
}

.article1{
    margin-left:175px;
    display:flex;
    flex-direction: column;   
}

.article2 {
    display:flex;
    flex-direction: column;
}

.section1 h2{
    color: red;
    font-size: 2.5em;
    font-weight: bold;
}

.article2 p{
    font-size: 1.5em;
    color: black;
    font-weight: lighter;
}

.article1 a{
    font-size:1.5em
}

.article2 a{
    text-decoration: none;
    color:black;
    font-weight: bold;
}

.article1 h2{
    margin-top:0;
}

.section2{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    gap: 90px;
}

.section2 #movzu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:100px;
    font-size:1.5em;
}

.section2 #movzu h2{
    color: red;
    font-size: 2.5em;
    font-weight: bold;
}

.footer{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    color:red;
    gap:10px;
}

.footer p{
    font-size: 1.5em;
    color: #f8dbdb;
}

.footer #copy{
    color:#f8dbdb;
}

.footer a{
    text-decoration: none;
    color: red;
}

.footer a:hover{
    color: #f8dbdb;
}

